{
  "extends": ["eslint-config-airbnb-base", "prettier", plugin:react/recommended],

  "plugins": [
    "prettier"
    ],

  "env": {
    "browser": true
  },

  "rules": {
    "prettier/prettier": "error"
  },

  "parser": "babel-eslint",

  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.2.0"
      },
      
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["frontend", "node_modules"]
          }
        }
      }
    }
  }
}
