// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.event-details {
  padding: 20px;
  text-align: left;
  padding-right: 80px;
  font-size: 18px;
  align-items:center;
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
  line-height: .1;
}

.event-details a:hover {
  cursor: pointer;
  color: #ED1C40;
}

.event-details img {
  width: 40px;
  height: auto;
  vertical-align: text-top;
  padding-right: 20px;
  object-fit: cover;
}

.event-address {
  padding-left: 60px;
  padding-bottom: 20px
}

.event-show-main {
  background-color: white;
  width: 520px;
  height: 770px;
  text-align: left;
  padding: 10px;
  border: 1px solid lightgrey;
  text-align: left;
}

.event-show-main h1{
  font-size: 20px;
  padding-bottom: 5px;
}

.right-sidebar {
  width: 160px;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 20px;
}

.event-show-description {
  padding: 20px;
  padding-top: 30px;
}

.attendee-list-entry {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border: 1px solid lightgrey;
  margin-top: 5px;
  height: 80px;
}

.attendee-list-entry:hover {
  color: #ED1C40;
}

.attendee-list-entry img {
  width: 50px;
  max-height: 80px;
  vertical-align: middle;
}

.join-event-button {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.join-event-button ul {
  display: flex;
  justify-content: space-around;
}

.join-event-button h1 {
  font-size: 20px;
  font-weight: bold;
}
