// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.roll-call {
  margin-top: 100px;
  border-top: 1px solid lightgrey;
  padding: 10px;
}

.roll-call ul {
  display: flex;
  justify-content: horizontal;
}

.roll-call li {
  padding: 5px;
}


.group-edit {
  width: 720px;
  font-family: Helvetica;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-align: left;
  padding: 10px;
  padding-top: 10px;

}

.group-edit li {
  padding: 10px;
  padding-left: 50px;
}

.group-edit h1{
  text-align: center;
  padding: 10px;
  color: white;
  background-color:  #ED1C40;
}

.group-edit li:last-child {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}

.group-edit input {
  width: 600px;
  padding: 5px;

  border: 1px solid #ED1C40;
}

.group-edit textarea {
  width: 606px;
  height: 100px;
  border: 1px solid #ED1C40;
  resize: none;
  font-family: 'Merriweather Sans', Helvetica, sans-serif;
}

.member-pic-thumb {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.memberItem {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: 30px;
}

.memberItem ul {
  width: 180px;
  text-align: center;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.memberItem ul:hover {
  color: #ED1C40;
}

.small-thumb {
  height: 50px;
  width: 75px;
  object-fit: cover;
}

.member-main {
  height: auto;
}


.group-welcome {
  text-align: center;
  padding-top: 50px;
}

.group-detail-description {
  padding: 20px;
}
