// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #E1E1E1;
  padding-top: 13px;
  z-index: 99;
  background-color: white;
}

.top-nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  height: 30px;
}

.top-nav li {
  display: inline-block;
  vertical-align: middle;
}

.top-nav li:hover {
  cursor: pointer;
}

#logo {
  font-family: 'Leckerli One', cursive;
  font-weight: normal;
  font-size: 40px;
  color: #ED1C40;
  padding: 0;
  position: absolute;
  text-align: center;
  left: 43%;
}

.topright {
  padding-right: 30px;
}

.topright li:first-child {
  padding-right: 30px;
}

.signup-button {
  background-color: #ED1C40;
  color: white;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  margin-right: 20px;
}

.signup-button:hover {
  cursor: pointer;
  background-color: #a50d27
}

#footer {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background-color: #0F1721;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 30px;
  padding-top: 15px;
}

#footer div {
  width: 960px;
  margin: 0 auto;
}

#footer ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#footer ul:first-child {
  padding-top: 0px;
  border-bottom: 1px solid white;
}

#video-bar {
  height: 470px;
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  margin: 0;
  padding: 0;
}

#videoBlock {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -90;
}

#videoMessage {
  margin-top: 150px;
  background: transparent;
  color:black;
  z-index: 90;
  position: absolute;
  top: 0;
  color: white;
  left: 32%;
}

#videoMessage h1 {
  font-size: 48px;
}

#videoMessage h3 {
  font-size: 28px;
  padding: 10px;



}

.main-button {
  background-color: #ED1C40;
  color: white;
  border: 1px solid #ED1C40;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 110px 15px 110px;
  border-radius: 3px;
  z-index: 99;
}

.main-button:hover {
  cursor: pointer;
  background-color: #a50d27
}

.auth-form div {
  text-align: center;
  padding: 30px;
}

.auth-form h1:first-child {
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

.auth-form h1 {
  padding-top: 20px;
}

.auth-form p {
  text-align: center;
  font-size: 14px;
}

.auth-form p:hover {
  cursor: pointer;
  color: #ED1C40;
}

.auth-form {
  font-size: 20px;
  padding-bottom: 8px;
  width: 440px;
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 1px 1px 3px black;
  position: fixed;
  top: 20%;
  left: 37%;
  color: black;
}

.auth-form:focus {
  border: 1px solid black;
  outline: none;
}

.auth-form input {
  padding: 5px;
  border-radius: 3px;
  width: 90%;
  margin-bottom: 8px;
}

.auth-form button {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.auth-form button:hover {
  cursor: pointer;
  background-color: #a50d27
}

.guestlogin {
  padding: 5px;
  background-color: white;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.guestlogin:hover {
  color: #ED1C40;
  cursor: pointer;
}

.errors {
  font-size: 18px;
  padding: 20px;
  color: #ED1C40;
}

.errors ul {
  text-align: left;
  list-style: disc;
}

.placeholder {
  background-color: white;
  z-index: 100;
  height: 400px;
  width: 100%;
  padding-top: 0;
  border-top: 1px solid lightgrey;
}

.welcome {
  padding: 0;
  margin: 0;

}
