// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid lightgrey;
  padding-top: 13px;
}

.top-nav ul {
  display: flex;
  justify-content: space-between;
}

.top-nav li {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  font-family: 'Leckerli One', cursive;
  font-weight: normal;
  font-size: 40px;
  color: #ED1C40;
  padding: 0;
}

.topright {
  padding-right: 30px;
}

.topright li:first-child {
  padding-right: 30px;
}

.signup-button {
  background-color: #ED1C40;
  color: white;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  margin-right: 20px;
}

#footer {
  background-color: #0F1721;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 30px;
  padding-top: 15px;
}

#footer div {
  width: 50%;
  margin: 0 auto;
}

#footer ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#footer ul:first-child {
  padding-top: 0px;
  border-bottom: 1px solid white;
}

#video-bar {
  height: 470px;
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

#videoDiv {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#videoMessage {
  margin-top: 150px;
  background: transparent;
  color:black;

}

#videoMessage h1 {
  font-size: 48px;

}

#videoMessage h3 {
  font-size: 28px;
  padding: 10px;
}

#videoMessage button {
  background-color: #ED1C40;
  color: white;
  border: 1px solid #ED1C40;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 110px 15px 110px;
  border-radius: 3px;
}
