// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_pic_thumb img:first-child {
  height: 50px;
  width: auto;
  margin-bottom: 10px;
  padding-top: 0;
  cursor: pointer;
  transform: rotateX(1.2);
  vertical-align: center;
  padding-right: 25px;
}

.profile_pic_thumb:hover {
  cursor: pointer;
}

.icon {
  height: 30px;
  width: auto;
  position: fixed;
  top: 15px; right: 5px;
}

.nav-drop-down {
  background-color: white;
  position: fixed;
  right: 0;
  top: 70px;
  padding-right: 10px;
  padding-left: 400px;
}

.nav-drop-down ul {
  text-align: right;
};

.nav-drop-down li {
  padding: 15px;
  border-bottom: 1px solid #0F1721;
  padding-left: 100px;
}

.nav-drop-down li:hover {
  cursor: pointer;
  background-color: #ED1C40;
  color: white;
}

.profile {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #0F1721;
  margin-top: 20px;
}

.left-box {
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.right-box {
  margin: 0;
  padding: 0;
  display: inline-block;

}

.right-box img {
  width: 200px;
  height: auto;
  margin: 4px;
}

.left-box h1 {
  font-size: 36px;
  border-bottom: 1px solid #0F1721;
}

.name-input {
  font-size: 36px;

}

.left-box ul {
  padding: 5px;
}

.left-box li {
  padding: 40px;
  border-bottom: 1px solid #0F1721;
}

.button-box {
  text-align: center;
}

.edit-submit-button {
  background-color: #ED1C40;
  color: white;
  border: 1px solid #ED1C40;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  margin: 20px;
}

.edit-submit-button:hover {
  cursor: pointer;
  background-color: #a50d27
}
