#footer {
  position: absolute;
  background-color: #0f1721;
  height: 75px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 15px;
  padding-bottom: 5px;
  bottom: 0;
  width: 100%;
  z-index: 40;
}

#footer div {
  width: 960px;
  margin: 0 auto;
}

#footer ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#footer ul:first-child {
  padding-top: 0;
  border-bottom: 1px solid white;
}
