.group-background {
  background-color: #FAFAFA;
  height: auto;
  padding-top: 20px;
  text-align: center;
}

.group-show {
  width: 960px;
  margin: 0 auto;
}

.group-title {
  text-align: center;
  background-color: #ED1C40;
  border: 1px solid #ED1C40;
  height: 100px;
  border-radius: 3px;
  width: 960px ;
  padding-top: 30px;
  margin-bottom: 20px;
}

.group-title h1 {
  font-size: 40px;
  color: white;
  z-index: 1000;

}

.show-body {
  display: flex;
  justify-content: space-between;
}

.left-sidebar {
  width: 200px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;

}

.show-main {
  width: 720px;
  font-family: Helvetica;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-align: left;
  padding: 10px;
  padding-top: 10px;
  padding-right: 5px;
}

.show-main h1 {
  font-size: 32px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.group-menu-background {
  width: 960px;
  padding-bottom: 2px;
  margin: 0;
  background: white;
  border-top: none;
  position: relative;
}

.group-menu-background button {
  position: absolute;
  bottom: 0; right: 0;
  margin: 5px;
}

.group-menu {
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content:space-around;
  color: grey;
}

.group-menu li {
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
}

.group-menu-border {
  width: 960px;
  padding: 0;
  padding-right: 1px;
  margin: 0;
  height: 10px;
  background-color: #eb536d;
}

.group-menu li:hover {
  background-color: #ED1C40;
  border: 1px solid #ED1C40;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.group_show_profile_thumb {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 175px;
  max-height: 225px;
  height: auto;
  object-fit: cover;
}

.active {
  background-color: #ED1C40;
  border: 1px solid #ED1C40;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
