.topright {
  padding-right: 30px;
  z-index: 99;
}

.topright li:first-child {
  padding-right: 30px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: inherit;
  margin: inherit;
}

.profile_pic_thumb img:first-child {
  height: 50px;
  width: auto;
  margin-bottom: 10px;
  padding-top: 0;
  cursor: pointer;
  vertical-align: center;
  padding-right: 25px;
  object-fit: cover;
}

.profile_pic_thumb:hover {
  cursor: pointer;
}

.icon {
  height: 30px;
  width: auto;
  position: absolute;
  top: 15px;
  right: 40px;
}

.nav-drop-down {
  background-color: white;
  position: absolute;
  right: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  width: 500px;
  z-index: 99;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 3px black;
}

.nav-drop-down:focus {
  border: 1px solid black;
  outline: none;
}

.nav-drop-down ul {
  z-index: 100;
  padding-bottom: 20px;
}

.nav-drop-down li {
  direction: ltr;
  padding: 20px 100px 20px 10px;
  border-bottom: 1px solid #0f1721;
  text-decoration: none;
  color: black;
  z-index: 101;
  background-color: white;
}

.nav-drop-down li:hover {
  cursor: pointer;
  background-color: #ed1c40;
  color: white;
}
