<!DOCTYPE html>
<html>
  <head>
    <title>YouDown</title>

    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
